html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  z-index: 10;
  overflow-x: hidden;
}

.container > .gap {
  border: 0;
  min-height: 12.5vh;
  background-color: transparent;
  height: 12.5vh;
}


.container div.fade-in {
  opacity: 0;
  transform: translateX(5%);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;


  justify-content: center;
  align-items: center;  
  overflow: visible;
}
.container div.fade-in.show {
  opacity: 1;
  transform: translateX(0%);
}


.intro {
  min-height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
  color: white;


background-image: url('./assets/header_bg.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}

.intro-content {
  display: flex;
  width: 100%;
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 1.5rem;
}

.text {
  max-width: 45%;   
  margin-left: 2rem;  
  font-family: 'Roboto', sans-serif;
}

.name {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin: 0 0 0.5rem 0;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.social-icons {
  display: flex;
  gap: 1rem; 
}

.social-icons a img {
  width: 40px;
  height: 40px;
  transition: transform 0.2s;
  background-color: rgba(52, 52, 52, 0.7);
  border-radius: 8px; 
}

.social-icons a img:hover {
  transform: scale(1.1); 
}
.picture-slot {
  margin-left: auto;   
  margin-right: 3rem;     
}

.picture-slot img {
  max-width: 180px;   
  height: auto;
  border-radius: 10px;
  margin-right: 1rem; 
}
